h1{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    color: rgb(253, 250, 253);
    background:rgba(12, 0, 0, 0.438) ;
    box-shadow: 1px 2px 5px 1px rgb(46, 45, 45);
}

.buttonHome{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:rgba(11, 216, 252, 0.438);
    padding: 15px;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 2px 5px 1px black;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.buttonSignOut{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 8%;
    left: 90%;
    background-color:rgba(253, 9, 9, 0.438);
    padding: 15px;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 2px 5px 1px black;
    transform: translate(-50%, -50%);
    transition: .2s;
}

@media (max-width: 600px) {
    .buttonSignOut{
        text-decoration: none;
        color: white;
        position: absolute;
        top: 5%;
        left: 50%;
        background-color:rgba(253, 9, 9, 0.438);
        padding: 2px;
        border: none;
        border-radius: 7px;
        box-shadow: 1px 2px 5px 1px black;
        transition: .2s;
    }
  }

